<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Toolkit</title>
    <link rel="stylesheet" href="static\CSS\homepage.CSS">
</head>
<body>
    <header>
        <h1>Welcome, Thirumalai!</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/text_summarization">Text Summarization</a></li>
            <li><a href="/top_news">Latest Tech Updates</a></li>
        </ul>
    </nav>
    <script src="script.js"></script>
</body>
</html>
